.card {
    color: black;
    display: flex;
    flex-direction: column;
}

.card img {
    margin-bottom: 0;
    height: 75%;
}

.Cardlabel {
    background-color: #eeee00;
    height: 40px;
    margin-top: 0;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}